html,
body,
#__next,
#__next > div {
  background: #1f2b34;
  color: #fff;
  margin: 0;
  height: 100%;
  font-family: "DM Sans", sans-serif;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

#__next > div {
  /* border: 10px solid #588ac5; */
  max-height: 100vh;
  /* overflow-y: auto;
  overflow-x: hidden; */
}

.two-rows {
  align-items: center;
  display: grid !important;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr;
}

.two-rows .two-rows__col {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.two-rows .bottomColumnWideBackground {
  align-content: flex-end;
  display: flex;
  height: 60px;
  object-fit: cover;
  margin: 0 auto;
  justify-content: center;
}

.hidden {
  display: none;
}

.hubspot-form {
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 2rem 0;
  min-height: 100%;
}

.hubspot-form__layout {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
}

.hubspot-form form > * {
  margin: 0 0 1rem;
}

.hubspot-form form,
.hubspot-form__background {
  width: clamp(320px, 100vw, 620px);
  padding: 0 1.5rem;
}

.hubspot-form__line {
  display: block;
  width: 100%;
  height: 5px;
  margin: 1rem 0;
}

.hubspot-form__line:first-of-type,
.hubspot-form__line:last-of-type {
  background: #d83f32;
}

.hubspot-form__line:nth-of-type(2) {
  background: #90c1dc;
}

.hubspot-form__line:nth-of-type(3) {
  background: #588ac5;
}

.hubspot-form label {
  display: block;
  font-weight: 800;
  margin-bottom: 0.5rem;
}

.hubspot-form [type="text"],
.hubspot-form [type="email"] {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 0.75rem 1rem;
  width: 100%;
}

.hubspot-form ul {
  padding: 0;
  margin: 1.5rem 0;
}

.hubspot-form li {
  list-style: none;
}

.hubspot-form [type="submit"] {
  border: none;
  border-radius: 4px;
  background: #d83f32;
  color: #fff;
  font-weight: 800;
  padding: 0.75rem 1rem;
  margin: 1rem 0;
  transition: opacity 0.25s ease-in-out;
}

.hubspot-form [type="submit"]:hover {
  opacity: 0.75;
}

.hs-form-booleancheckbox label {
  align-items: center;
  display: flex;
  gap: 0.5rem;
}

.legal-consent-container .hs-form-booleancheckbox-display > span {
  margin: 0 !important;
}

.hs-form-field {
  flex-grow: 1;
}

.hs_submit {
  flex-grow: 1;
}

.actions {
  justify-content: center;
  display: flex;
}

.hubspot-form p {
  margin: 0 0 1rem;
}

.hubspot-form .hs-error-msgs {
  color: #d83f32;
  margin: 0;
}


.submitted-message{
  width: clamp(320px,100vw,570px);
}